 body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  background-size: cover;
   background: url('bg.jpg') no-repeat center center/cover;
    transition: background-image  1.2s ease-out;
  
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg) center/cover no-repeat;

  transition: opacity   1.5s ease-out;
  opacity: 2;
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); 
  z-index: -1;
}


.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}


.search {
  display: flex;
  gap: 10px;
 
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: lightgray;
}

button {
  padding: 10px;
  border: none;
  background: grey;
  cursor: pointer;
  background-color: lightgray;
}

.weatherBox {
  background: #ddd;
  margin-top: 15px;
  border-radius: 10px;

  max-height: 0;
  overflow: hidden;

  opacity: 0;
  transform: translateY(-10px);

  transition: all 1.5s ease-in-out;
  padding: 0 10px;
}

.weatherBox.show {
  max-height: 400px;
  opacity: 1;
  transform: translateY(0);
  padding: 15px;
}